<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <!-- =============== TITLE =============== -->
    
        <title>Burger Time</title>

        <!-- =============== STYLES  =============== -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        
        <!-- ===============  REQUIRED JS =============== -->

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src='/assets/js/burgers.js'></script>
    
    </head>

    <!-- =============== RENDER ZONE =============== --> 
    <body>
        {{{ body }}}
    </body>
</html>