<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-willeat="{{devoured}}">
        {{#if devoured}}Eat that burger!{{else}}Return that burger!{{/if}}
    </button>
</li>