<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newstatus="{{devoured}}">
        {{#if devoured}}this one is hot and ready{{else}}it was really good{{/if}}
    </button>
</li>